body.left-menu-open .header-outher{
    margin-left: 280px;
}

#rw-boss-header-left-col {
    display: flex;
    width: 280px;
    margin: 0px;
    padding: 0;
    margin-left: -18px;
    margin-top: -11px;
    height: 75px;
    margin-right: -19px;
}

#rw-boss-header-left-col img#rw-boss-logo{
    flex:0 60px;
    width: 60px;
    height: 53px;
    margin-top: 12px;
}

body.left-menu-open #rw-boss-header-left-col img#rw-boss-logo{
    flex:0 80px;
    width: 80px;
    height: 71px;
    margin-top: 5px;
}


#rw-boss-header-left-col div.rw-boss-header-name{
    flex:1;
    line-height: 54px;
}

#left-panel #scroll-area a:hover{
    background-color: #4C99C3!important;
}
#left-panel #scroll-area .current-menu-item a{
    background-color: #B396C4;
}
#left-panel #scroll-area .current-menu-item a:before {
    color: #ffffff!important;
}

.social-learner #more-rpi-container-sidebar{
    margin-top: 74px;
}
.social-learner #more-rpi-container-sidebar .rpi-container-sidebar-title{
    color: #fff!important;
}
@media screen and (min-width:480px){

    #rw-boss-header-left-col,
    body.left-menu-open #mastlogo,
    body.left-menu-open .menu-panel,
    body.left-menu-open #left-panel-inner #scroll-area
    {
        width: 280px;
    }

    #right-panel-inner , body.left-menu-open .header-outher{
        margin-left: 280px;
    }

    .header-links{
        width:auto!important;
    }
    .header-links a#rpi-services-button {
        width: 75px;
        display: block;
        height: 77px;
        margin-left: -25px!important;
        margin-top: -3px!important;;
        float:left;
    }.header-links a#left-menu-toggle {
        width: 75px;
        display: block;
        height: 77px;
        margin-left: -0px!important;
        margin-top: -3px!important;;
        float:left;
    }

    .header-links a i.fa{
        margin: 30px 0 0 30px;
        font-size: 20px;
    }

    #mastlogo{
        height:74px;
        overflow: hidden;
    }
    #masthead .right-col, #secondary{
        min-width: 297px;
    }

    .site-content {
        min-width: 60%;

    }
}


@media screen and (min-width:1280px) {

    #rw-boss-header-left-col,
    body.left-menu-open #mastlogo,
    body.left-menu-open .menu-panel,
    body.left-menu-open #left-panel-inner #scroll-area
    {
        width: 326px;
    }

    #right-panel-inner , body.left-menu-open .header-outher{
        margin-left: 326px;
    }

    #masthead .right-col, #secondary{
        min-width: 390px;
    }
    .site-content {
        min-width: 65%;

    }
}

@media screen and (min-width:1600px) {
    #secondary{
        min-width: 455px;
    }
    .site-content {
        min-width: 71%;

    }
}

.is-mobile #right-panel-inner, .is-mobile body.left-menu-open .header-outher{
    margin-left: 0px;
}

body.is-mobile #rw-boss-header-left-col, body.is-mobil #mastlogo,body.is-mobile .menu-panel, body.is-mobile #left-panel-inner #scroll-area {
    width: 287px;
}

body.is-mobile #wp-admin-bar-my-account{
    opacity: 1;
}
.footer-credits{
    display: none;
}

.dir-page-entry .inner-padding, header.activity-header.page-header{
    background-color: #B396C4;
}
.dir-page-entry *, .activity-header *{
    color: #411A59!important;
}

.create-a-group a, .generic-button a, .right-col .pop .logout a {
    background-color: #5B4667!important;
    color:#fff!important;
}
.bb-cover-photo .holder{
    background-color: #4C99C3;
}