*{
    font-family: "Cairo","Open Sans",sans-serif;
}

#wpadminbar{
    background-color: #093E5A;
    z-index: 99999999;
}

/* news */
.rpi-service-news{
    background-color: #169361;
}
/* material */
.rpi-service-materialpool{
    background-color: #D95821;
}
/* gruppen */
.rpi-service-gruppen{
    background-color: #734F89;
}
/* blogs */
.rpi-service-blogs{
    background-color: #D98521;
}

/* more */
.rpi-service-more{
    background-color: #1B638A;
}


#rw-mn {
	background-color: #1B638A;
}
#rw-mn a{
    color: snow;
}
#rw-mn a:hover{
    color: #fff;
}

#rw-mn .rpi-header-logo .rpi-header-blogname{
    font-family: "Oswald","Open Sans",sans-serif;
    color:snow;
    padding: 15px 0 0 20px;
    font-size: 30px;
    text-align: center;

}
#more-rpi-container-sidebar {
	background: #093E5A;
}

.rpi-container-sidebar-content a{
    color:#ddd;
}

/* button icons */
#rw-mn .rw-search-wrapper button i{
    color: #ffffff;
}
#rw-mn nav ul li ul li a{
    border-top: 1px solid #337A9A;
    color:snow;
}
/* search field background color */
#rw-mn .rw-search-wrapper input{
    background-color: snow;
}

/*********************************************************************/
#rw-mn a.rpi-notification-link.no-alert{
    color:#92AAB5;
}


